/*

    Criador: Thiago Abraao
    Data inicial: 02/01/2024
    Data final: indefindo
    Objetivo: modelo para novos projetos 

*/

/* fontes */

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

/* Variaveis globais */
:root {

    /* estilização */
    --cor-fundo :   #00030C;
    --cor-primaria :  #167BF7;
    --cor-secundaria :  #FFFFFF;

    --cor-primaria-fonte: #FFFFFF;
    --cor-secundaria-fonte: #C0C0C0;

    --fonte-principal: 'Inter', sans-serif;
   

}

/* pagina toda */
* {

    /* estilização */
    text-decoration: none;

    /* Posicionamento */
    margin: 0;
    padding: 0;

}

.todo-conteudo {

    /* estilização */
    background-color: var(--cor-fundo);
    color: white; /* cor padrão para qualquer texto que nao tenha uma estilização */

}

/* conteudo cabecalho da pagina */
/* _______________________________________________________________________________________ */

.-container- {

    /* Posicionamento */
    height: 100vh;

}

.cabecalho-inteiro {

    /* estilização */
    background-image: url(../Imagens/Background.png);
    background-repeat: no-repeat;
    background-size: contain;

}    

.cabecalho {

    /* Posicionamento */
    display: flex;
    flex-direction: column;
    
    padding: 10% 57% 0% 12%;
    gap: 60px;

}

.cabecalho-combo {

    width: 70%;

    padding: 0% 25% 0% 15%;

}    

.cabecalho-titulo {

    /* estilização */
    color: var(--cor-primaria-fonte);
    font-family: var(--fonte-principal);
    width: 700;
    font-size: 1.75rem;
    text-align: center;

}

.cabecalho-botoes {

    /* Posicionamento */
    display: flex;
    flex-direction: column;
    
    gap: 16px;

}    

.cabecalho-botoes-link-01 {

    /* estilização */
    color: var(--cor-primaria-fonte);
    font-family: var(--fonte-principal);
    width: 400;
    font-size: 1rem;
    text-align: center;


    background-color: var(--cor-primaria);
    border-radius: 5px;

    /* Posicionamento */
    padding: 1em;

}

.cabecalho-botoes-link-02 {

    /* estilização */
    color: var(--cor-primaria-fonte);
    font-family: var(--fonte-principal);
    width: 400;
    font-size: 1rem;
    text-align: center;

    border-radius: 5px;
    border: 1px solid var(--cor-secundaria);

    /* Posicionamento */
    padding: 1em;

}

.cabecalho-botoes-texto {

    /* estilização */
    color: var(--cor-secundaria-fonte);
    font-family: var(--fonte-principal);
    width: 400;
    font-size: 0.75rem;
    text-align: center;

    /* Posicionamento */
    padding: 1em;

}

/* conteudo central da pagina */
/* _______________________________________________________________________________________ */

.principal-primeira-secao {

    /* Posicionamento */
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    padding: 0% 23% 10% 15%;
    gap: 65px;

}    


.principal-primeira-secao-titulo {

    /* estilização */
    color: var(--cor-primaria-fonte);
    font-family: var(--fonte-principal);
    width: 700;
    font-size: 3rem;
    
}

.principal-primeira-secao-texto {

    /* estilização */
    color: var(--cor-primaria-fonte);
    font-family: var(--fonte-principal);
    width: 400;
    font-size: 1rem;
    opacity: 0.7;

}

.principal-primeira-secao-foto  {

    /* Posicionamento */
    width: 75%;

}

.principal-segunda-secao {

    /* Posicionamento */
    display: flex;
    align-items: center;

    padding: 0% 23% 10% 15%;
    gap: 65px;


}    

.principal-segunda-texto {

    /* Posicionamento */
    display: flex;
    flex-direction: column;
    
    gap: 16px;

}     

.principal-segunda-secao-texto {

    /* estilização */
    color: var(--cor-primaria-fonte);
    font-family: var(--fonte-principal);
    width: 400;
    font-size: 1rem;
    opacity: 0.7;

} 

.principal-segunda-secao-botao {

    /* estilização */
    color: var(--cor-primaria-fonte);
    font-family: var(--fonte-principal);
    width: 400;
    font-size: 1rem;
    text-align: center;


    background-color: var(--cor-primaria);
    border-radius: 8px;

    /* Posicionamento */
    padding: 1em;
    width: 140px;

}     

.principal-segunda-secao-foto {

    /* Posicionamento */
    width: 75%;

}

.principal-terceira-secao {

    /* Posicionamento */
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    padding: 0% 23% 10% 10%;
    gap: 65px;


}

.principal-terceira-secao-titulo {

    /* estilização */
    color: var(--cor-primaria-fonte);
    font-family: var(--fonte-principal);
    width: 700;
    font-size: 3rem;
    
}

.principal-terceira-secao-texto {

    /* estilização */
    color: var(--cor-primaria-fonte);
    font-family: var(--fonte-principal);
    width: 400;
    font-size: 1rem;
    opacity: 0.7;

}   

.principal-terceira-secao-foto {

    /* Posicionamento */
    width: 75%;

}

.principal-final-secao-todo {

    /* Posicionamento */
    padding: 0% 0% 5% 0%;

}

.principal-final-secao {
    
    /* Posicionamento */
    display: flex;
    text-align: center;
    justify-content: space-between;

    padding: 35px 300px 0px 300px;

}

.principal-final-secao-titulo  {

    /* estilização */
    color: var(--cor-primaria-fonte);
    font-family: var(--fonte-principal);
    width: 700;
    font-size: 3rem;
    text-align: center;
 
} 

.principal-final-secao-divisao-foto {

    /* Posicionamento */
    width: 100%;

}

.principal-final-secao-divisao-titulo { 

    /* estilização */
    color: var(--cor-primaria-fonte);
    font-family: var(--fonte-principal);
    width: 700;
    font-size: 2rem;
    text-align: center;

}

/* conteudo rodape da pagina */
/* _______________________________________________________________________________________ */

.rodape{ 

    /* Posicionamento */
    text-align: center;
    padding: 0px 0px 0px 0px;

}    

.rodape-logo { 

    /* Posicionamento */
    width: 6%;

}

.rodape-menu {

    /* Posicionamento */
    display: flex;
    justify-content: space-between;

    padding: 50px 370px 50px 370px;

}

.rodape-menu-link {

    /* estilização */
    color: var(--cor-primaria-fonte);
    font-family: var(--fonte-principal);
    width: 400;
    font-size: 1rem;

}    

.rodape-paragrafo {

    display: flex;
    flex-direction: column;
    
    gap: 20px;

    /* Posicionamento */
    padding: 5px 340px 35px 340px;

}    

.rodape-paragrafo-texto {

    /* estilização */
    color: var(--cor-primaria-fonte);
    font-family: var(--fonte-principal);
    width: 400;
    font-size: 0.875rem;
    opacity: 0.7;

} 

.rodape-paragrafo-final {

    /* estilização */
    color: var(--cor-primaria-fonte);
    font-family: var(--fonte-principal);
    width: 700;
    font-size: 3rem;
    text-align: center;
    font-weight: bolder;

    background-color: var(--cor-primaria);

    /* Posicionamento */
    padding: 10px 0px 10px 0px;


} 

/* resposividade para celular */
/* _______________________________________________________________________________________ */

@media (max-width: 1200px ) {

    /* conteudo cabecalho da pagina */
    /* _______________________________________________________________________________________ */

    .-container- {

        /* Posicionamento */
        height: 25vh;
    
    }
    
    .cabecalho {

        /* Posicionamento */
        gap: 15px;
        padding: 5% 58% 0% 9%;
    
    }

    .cabecalho-titulo {

        /* Posicionamento */
        font-size: 50%;

    }

    .cabecalho-botoes {

        gap: 10px;
    
    }    
    
    .cabecalho-botoes-link-01 {
        
        /* Posicionamento */
        font-size: 40%;

    }  
    
    .cabecalho-botoes-link-02 {
        
        /* Posicionamento */
        font-size: 40%;

    }  

    .cabecalho-botoes-texto {

        /* Posicionamento */
        font-size: 5%;

    }

    /* conteudo central da pagina */
    /* _______________________________________________________________________________________ */


    .principal-primeira-secao {

        /* Posicionamento */
    
        padding: 0% 10% 10% 10%;
        gap: 45px;
    
    }    

    .principal-primeira-secao-titulo {

        /* Posicionamento */
        font-size: 75%;
        padding: 0% 0% 5% 0%;
    
    }
    
    .principal-primeira-secao-texto {
    
        /* Posicionamento */
        font-size: 50%;
    
    }

    .principal-primeira-secao-foto  {

        /* Posicionamento */
        width: 50%;
    
    }

    .principal-segunda-secao {

       /* Posicionamento */
    
       padding: 0% 10% 10% 10%;
       gap: 45px;
    
    
    }    

    .principal-segunda-secao-texto {

       /* Posicionamento */
       font-size: 50%;
    
    } 
    
    .principal-segunda-secao-botao {
    
        /* Posicionamento */
        font-size: 50%;
        width: 100px;
        
    
    }     
    
    .principal-segunda-secao-foto {
    
        /* Posicionamento */
        width: 50%;

    
    }

    .principal-terceira-secao {

        padding: 0% 10% 10% 10%;
        gap: 45px;
    
    }
    
    .principal-terceira-secao-titulo {
    
        /* Posicionamento */
        font-size: 75%;
        padding: 0% 0% 5% 0%;
        
    }
    
    .principal-terceira-secao-texto {
    
        /* Posicionamento */
        font-size: 50%;
    
    }   
    
    .principal-terceira-secao-foto {
    
        /* Posicionamento */
        width: 50%;
    
    }

    .principal-final-secao-titulo {

        /* Posicionamento */
        font-size: 95%;


    }
    
    

    

    /* conteudo rodape da pagina */
    /* _______________________________________________________________________________________ */










}