/*

    Criador: Thiago Abraao
    Data inicial: 02/01/2024
    Data final: indefindo
    Objetivo: modelo para novos projetos 

*/

/* fontes */

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

/* Variaveis globais */
:root {

    /* estilização */
    
    --cor-primaria :   #00030C;
    --cor-secundaria :   #167BF7;
    --cor-terceiaria :    #FFFFFF;

    --cor-primaria-fonte : #F9F9F9;
    --cor-secundaria-fonte :  #FFFFFF;
    --cor-terciaria-fonte :  #C0C0C0;

    --fonte-principal:  'Inter', sans-serif;
    
}

/* pagina toda */
* {

    /* estilização */
    
    text-decoration: none;
    color: var(--cor-primaria-fonte) ;

    /* Posicionamento */

    margin: 0;
    padding: 0;
    border: 0;


}

.todo-conteudo {

    background-color: var(--cor-primaria);

    /* Posicionamento */

    box-sizing: border-box;
    overflow-x: hidden;
    
}    

/* conteudo cabecalho da pagina */
/* _______________________________________________________________________________________ */

.cabecalho-inteiro {

    /* estilização */

    background-image: url("../Imagens/Background.png");
    background-repeat: no-repeat;
    background-size: 100%;

    /* Posicionamento */

    height: 100vh;

}     

.cabecalho {

    /* Posicionamento */
   
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 9.5% 57.5% 0% 13.5%;
    gap: 68px;

} 

.cabecalho-titulo {

    /* estilização */

    font-family: var(--fonte-principal);
    font-weight: 700;
    font-size: 1.75rem;
    color: var(--cor-primaria-fonte);
    text-align: center;

}

.cabecalho-combo {

    /* Posicionamento */

    width: 75%;

}    

.cabecalho-botoes {

    /* Posicionamento */

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

}    

.cabecalho-botoes-link-01 {

    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 1rem;
    color: var(--cor-primaria-fonte);
    text-align: center;
    width: 100%;

    background-color: var(--cor-secundaria);
    border-radius: 8px;

    /* Posicionamento */

    padding:  5% 20% 5% 20%;
    

}    

.cabecalho-botoes-link-02 {

    /* estilização */

    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 1rem;
    color: var(--cor-primaria-fonte);
    text-align: center;
    width: 100%;

    border: 1px solid var(--cor-primaria-fonte);
    border-radius: 8px;

    /* Posicionamento */

    padding:  5% 20% 5% 20%;

}  

.cabecalho-botoes-texto {

    /* estilização */
    
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 0.75rem;
    color: var(--cor-terciaria-fonte);
    text-align: center;

}

/* conteudo central da pagina */
/* _______________________________________________________________________________________ */

.principal-primeira-secao {
    
    /* Posicionamento */
    
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    
    padding: 0% 20% 0% 23%;
    gap: 60px;
    

}

.principal-primeira-texto {

    /* Posicionamento */

    display: flex;
    flex-direction: column;
    
}    

.principal-primeira-secao-titulo {

    /* estilização */

    font-family: var(--fonte-principal);
    font-weight: 700;
    font-size: 3rem;
    color: var(--cor-primaria-fonte);
    text-align: justify;

}

.principal-primeira-secao-texto {

    /* estilização */

    font-family: var(--cor-secundaria-fonte);
    font-weight: 400;
    font-size: 1rem;
    color: var(--cor-primaria-fonte);
    opacity: 0.8;
    line-height: 120%;
    text-align: justify;

}

.principal-primeira-secao-foto {

    /* Posicionamento */

    width: 75%;

}    

.principal-segunda-secao {

    /* Posicionamento */

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 10% 20% 0% 23%;
    gap: 60px;

}    

.principal-segunda-texto {

    /* Posicionamento */
    
    display: flex;
    flex-direction: column;
    gap: 15px;
        
}

.principal-segunda-secao-texto {

    /* estilização */

    font-family: var(--cor-secundaria-fonte);
    font-weight: 400;
    font-size: 1rem;
    color: var(--cor-primaria-fonte);
    opacity: 0.8;
    line-height: 120%;
    text-align: justify;

}

.principal-segunda-secao-botao {

    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 1rem;
    color: var(--cor-primaria-fonte);
    text-align: center;
    width: 30%;

    background-color: var(--cor-secundaria);
    border-radius: 8px;

    /* Posicionamento */

    padding:  2.5% 1.6% 2.5% 1.6%;

}

.principal-segunda-secao-foto {

    /* Posicionamento */

    width: 75%;

}

.principal-terceira-secao {
    
    /* Posicionamento */
    
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    
    padding: 10% 20% 0% 23%;
    gap: 60px;
    
}

.principal-terceira-textos {

    /* Posicionamento */

    display: flex;
    flex-direction: column;
    
}    

.principal-terceira-secao-titulo {

    /* estilização */

    font-family: var(--fonte-principal);
    font-weight: 700;
    font-size: 3rem;
    color: var(--cor-primaria-fonte);
    text-align: justify;

}

.principal-terceira-secao-texto {

    /* estilização */

    font-family: var(--cor-secundaria-fonte);
    font-weight: 400;
    font-size: 1rem;
    color: var(--cor-primaria-fonte);
    opacity: 0.8;
    line-height: 120%;
    text-align: justify;

}

.principal-terceira-secao-foto {

    /* Posicionamento */

    width: 75%;

}

.principal-final-secao-todo {

    /* Posicionamento */

    padding: 15% 0% 0% 0%;

}    

.principal-final-secao-titulo {

    /* estilização */

    font-family: var(--fonte-principal);
    font-weight: 700;
    font-size: 3rem;
    color: var(--cor-primaria-fonte);
    text-align: center;

}

.principal-final-secao {

    /* Posicionamento */

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 5% 18% 0% 18%;


}

.principal-final-secao-divisao-foto {

    /* Posicionamento */

    width: 100%;

} 

.principal-final-secao-divisao-titulo {


    /* estilização */

    font-family: var(--fonte-principal);
    font-weight: 700;
    font-size: 2rem;
    color: var(--cor-primaria-fonte);
    text-align: center;



}    

/* conteudo rodape da pagina */
/* _______________________________________________________________________________________ */

.rodape {

    /* Posicionamento */
        
    padding: 8% 0% 0% 0%;
    
}

.rodape-logo {

    /* Posicionamento */

    width: 5%;

    padding: 0% 53% 3% 47%;

}

.rodape-menu {

    /* Posicionamento */

    display: flex;
    justify-content: space-between;

    padding: 0% 16.5% 2% 16.5%;

}    

.rodape-menu-link {

    /* estilização */

    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 1rem;
    color: var(--cor-primaria-fonte);
    text-align: center;

} 

.rodape-paragrafo {

    /* Posicionamento */

    display: flex;
    flex-direction: column;
    
    align-items: center;
    padding: 0% 16.5% 2% 16.5%;
    gap: 20px;
    

}  

.rodape-paragrafo-texto {

    /* estilização */

    font-family: var(--cor-secundaria-fonte);
    font-weight: 400;
    font-size: 0.875rem;
    color: var(--cor-primaria-fonte);
    opacity: 0.8;
    line-height: 120%;
    text-align: center;

}   

.rodape-paragrafo-final {

    /* estilização */

    font-family: var(--fonte-principal);
    font-weight: 700;
    font-size: 2rem;
    color: var(--cor-primaria-fonte);
    text-align: center;
    background-color: #167BF7;

    /* Posicionamento */
    
    padding: 1%;

}      

/*sem conteudo ainda*/

/* resposividade para celular */
/* _______________________________________________________________________________________ */

@media (max-width: 1200px ) {

    /* conteudo cabecalho da pagina */
    /* _______________________________________________________________________________________ */


    .cabecalho-inteiro {

        /* Posicionamento */
    
        height: 35%;
    
    }    

    .cabecalho {

        /* Posicionamento */
       
        gap: 15px;

        padding: 7.5% 57.5% 0% 13.5%;
    
    } 

    .cabecalho-titulo {

        /* estilização */

        font-size: 60%;

    } 
    
    .cabecalho-botoes-link-01 {

        /* estilização */

        font-size: 40%;
        width: 100%;
    
        /* Posicionamento */
    
        padding:  4%;
        
    }    
    
    .cabecalho-botoes-link-02 {
    
        /* estilização */
    
        font-size: 40%;
        width: 100%;
    
        /* Posicionamento */
    
        padding:  4%;
    
    }  
    
    .cabecalho-botoes-texto {
    
        /* estilização */
        
        font-size: 40%;
        
    }

    /* conteudo central da pagina */
    /* _______________________________________________________________________________________ */
   
    .principal-primeira-secao {

        /* Posicionamento */

        flex-direction: column-reverse;
        gap: 25px;


    }

    .principal-primeira-texto {

        gap: 10px;

    }
    
    .principal-primeira-secao-titulo {

        /* estilização */
        
        text-align: center;
        font-size: 1.50rem;
    
    }

    .principal-primeira-secao-texto {

        /* estilização */
    
        text-align: center;
        font-size: 0.75rem;
    
    }
    
    .principal-segunda-secao {

        /* Posicionamento */

        flex-direction: column-reverse;
        justify-content: center;
        gap: 25px;

    }

    .principal-segunda-texto {

        align-items: center;

    }    

    .principal-segunda-secao-texto {

        /* estilização */
    
        text-align: center;
        font-size: 0.75rem;
    }

    .principal-segunda-texto

    .principal-segunda-secao-botao {

        font-size: 0.50rem;
        width: 30%;
    
        /* Posicionamento */
    
        padding:  2.5% 1.6% 2.5% 1.6%;
    
    }
    
    .principal-terceira-secao {

        /* Posicionamento */

        flex-direction: column-reverse;
        gap: 25px;

    }

    .principal-terceira-textos {

        gap: 10px;
    
    }

    .principal-terceira-secao-titulo {

        /* estilização */
    
        font-size: 1.50rem;
        text-align: center;
    
    
    }
    
    .principal-terceira-secao-texto {
    
        /* estilização */
    
        font-size: 0.75rem;
        text-align: center;
    
    }

    /* conteudo rodape da pagina */
    /* _______________________________________________________________________________________ */


    .principal-final-secao-titulo {

        /* estilização */
    
        font-size: 1rem;
     
    }

    .principal-final-secao-divisao-titulo {

        /* estilização */

        font-size: 0.75rem;

    }
    
    .rodape-logo {

        /* Posicionamento */

        width: 15%;

        padding: 0% 70% 3% 45%;


    }
    
    .rodape-menu {

        /* Posicionamento */
    
        padding: 0% 6% 6% 6%;
    }    
    
    .rodape-menu-link {
    
        /* estilização */
    
        font-size: 0.45rem;
        gap: 20px;
    
    } 
    
    .rodape-paragrafo {
    
        /* Posicionamento */
    
        padding: 0% 16.5% 2% 16.5%;
        gap: 20px;
    
    }  
    
    .rodape-paragrafo-texto {
    
        /* estilização */
    
        font-size: 0.6rem;
    
    }   
    
    .rodape-paragrafo-final {
    
        /* estilização */
    
        font-size: 1.20rem;
    
        /* Posicionamento */
        
        padding: 1%;
    
    }      

}    




